* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
$primary-color: #e20024;
$body-color: #f9f9f9;

// Fonts
$primary-font: "Inter", sans-serif;

// Screen Width
$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1366px;
$screen-xxxl: 1600px;

body {
  background-color: $body-color;
  .btn {
    padding: 4px 10px;
    color: white;
    text-transform: uppercase;
    border: none;
  }
  .relative {
    position: relative;
  }
  .navbar {
    padding: 20px 10px;
    display: flex;
    justify-content: flex-end;
    background-color: $body-color;
    .search-btn,
    .menu-btn {
      margin: 10px;
      font-size: 22px;
      font-weight: lighter;
    }

    .search-input {
      outline: 0;
      border-width: 0 0 1px;
      border-color: black;
      background-color: #f9f9f9;
      padding: 10px;
      width: 60vw;
      flex: 12;
      &:focus {
        border-color: $primary-color;
      }
    }
  }
  .main {
    // overflow-x: hidden;
    max-width: 100vw;
  }
  .news-container {
    background-color: white;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 10px;
    gap: 10px;
  }
  .latest-video,
  .news-card {
    background-color: $primary-color;
    min-height: 70vh;
  }
  .play-btn {
    background-color: white;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest-video {
    background-color: rgba($color: $primary-color, $alpha: 0.7);
    .news-info {
      bottom: 0;
      position: absolute;
      margin: 2rem;
      display: flex;
      flex-direction: column;
      .btn {
        background-color: #e74c2b;
      }
    }
    .right-btn,
    .left-btn {
      position: absolute;
      height: 3rem;
      width: 2.8rem;
      background-color: white;
      bottom: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all ease 0.8s;
      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
    .right-btn {
      right: 0;
    }

    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    .play-btn {
      position: absolute;
      margin: 30px;
    }
    .video-thumb {
      height: 100%;
      width: 100%;
      background-image: url("https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
      background-size: cover;

      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-flow: column;
      transition: all 1s ease;
      position: absolute;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .img-thumb {
    width: 100%;
    height: 100%;
  }
}
//animations
@keyframes zoom {
  from {
    background-size: 100%;
  }
  to {
    background-size: 150%;
  }
}
