* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

.hidden-overflow {
  overflow: hidden;
}

.relative {
  position: relative;
}

.btn {
  padding: 4px 10px;
  color: white;
  text-transform: uppercase;
  border: none;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.align-bottom {
  position: absolute;
  bottom: 0;
}

body {
  background-color: #f9f9f9;
}

body .news-tittle p {
  color: white;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 0.1em;
}

body .news-meta {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: small;
}

body .news-meta span:hover {
  color: #e20024;
  transition: all ease 0.5s;
}

body .navbar {
  padding: 20px 10px;
  background-color: #f9f9f9;
}

body .navbar .search-btn,
body .navbar .menu-btn {
  margin: 10px;
  font-size: 22px;
  font-weight: lighter;
}

body .navbar .search-input {
  outline: 0;
  border-width: 0 0 1px;
  border-color: black;
  background-color: #f9f9f9;
  padding: 10px;
  width: 60vw;
  flex: 12;
}

body .navbar .search-input:focus {
  border-color: #e20024;
}

body .main {
  max-width: 100vw;
}

body .news-card .thumb {
  background-image: url("https://images.unsplash.com/photo-1602079041437-c339cb243dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

body .news-container {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 10px;
  gap: 10px;
}

body .latest-video,
body .news-card {
  background-color: #e20024;
  min-height: 70vh;
  position: relative;
}

body .play-btn {
  background-color: white;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .news-info {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

body .latest-video {
  background-color: rgba(226, 0, 36, 0.7);
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body .latest-video .thumb {
  background-image: url("https://images.unsplash.com/photo-1511882150382-421056c89033?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

body .latest-video .news-info {
  bottom: 0;
  position: absolute;
}

body .latest-video .news-info .btn {
  background-color: #e74c2b;
}

body .latest-video .right-btn,
body .latest-video .left-btn {
  position: absolute;
  height: 3rem;
  width: 2.8rem;
  background-color: white;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all ease 0.8s;
}

body .latest-video .right-btn:hover,
body .latest-video .left-btn:hover {
  background-color: #e20024;
  color: white;
}

body .latest-video .right-btn {
  right: 0;
}

body .latest-video .play-btn {
  position: absolute;
  margin: 30px;
}

body .thumb {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease;
  position: absolute;
}

body .thumb:hover {
  transform: scale(1.1);
}

body .img-thumb {
  width: 100%;
  height: 100%;
}

@keyframes zoom {
  from {
    background-size: 100%;
  }
  to {
    background-size: 150%;
  }
}
