// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #e20025;
$secondary : #f98150;
$accent    : #f75a59;

$dark      : #1d1d1d;

$positive  : #93f585;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

/* Color Theme Swatches in Hex */
$A-newspaper-on-a-wooden-desk---Whats-new-1-hex: #BF0413;
$A-newspaper-on-a-wooden-desk---Whats-new-2-hex: #F20544;
$A-newspaper-on-a-wooden-desk---Whats-new-3-hex: #D9D6D2;
$A-newspaper-on-a-wooden-desk---Whats-new-4-hex: #A6592D;
$A-newspaper-on-a-wooden-desk---Whats-new-5-hex: #BF785E;

/* Color Theme Swatches in RGBA */
$A-newspaper-on-a-wooden-desk---Whats-new-1-rgba: rgba(191,3,19, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-2-rgba: rgba(242,4,68, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-3-rgba: rgba(216,213,210, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-4-rgba: rgba(165,89,44, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-5-rgba: rgba(191,119,93, 1);

/* Color Theme Swatches in HSLA */
$A-newspaper-on-a-wooden-desk---Whats-new-1-hsla: hsla(354, 96, 38, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-2-hsla: hsla(343, 96, 48, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-3-hsla: hsla(33, 7, 83, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-4-hsla: hsla(22, 57, 41, 1);
$A-newspaper-on-a-wooden-desk---Whats-new-5-hsla: hsla(16, 43, 55, 1);